

table {
  background-color: white;
  box-shadow: 0 0 20px 0 #253365;
}

span.instructor, h5, h2 {
  color: #17a2b8;
}

.btn-custom {
  color: #17a2b8;
  border-color: #17a2b8;
}

.btn-custom:hover {
  background-color: #17a2b8;
  border-color: #17a2b8;
  color: white;
}

.modal-content {
  border: 3px solid #17a2b8;
  border-radius: 5px;
}

.form-control:hover {
  border: 1px solid #17a2b8;
  border-radius: 5px;
}

.img-instructor {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.img-instructor:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.highlight {
  background-color: #cff4fc;
}

td, th {
  vertical-align: middle;
}
